body {
	background-color: #383276;
	color: #D3D2D9;
}
/* menu elements */
.container {
	display:inline-block;
}
.nav {
	padding-bottom:10px;
}
.nav ul {
	display:flex;
}
.nav li {
  display: inline;
}
.nav a {
  color: #5a5a5a;
  font-size: 11px;
  font-weight: bold;
  text-transform: uppercase;
  background-color:#a5a5a5;
  padding: 10px;
}
.nav a:HOVER{
	background-color: silver;
	text-decoration: none;
}
/* header elements */
.header {
	background-color: #110B4A;
}

header {
	padding: 0px;
	border-bottom: solid;
	border-color: white;
	background: #110B4A;
	height: 60px;
	margin-bottom: 10px;
	padding-left: 30px;
	position: relative;
}

.header h3, h5, p {
	display: inline;
}

.header h3 {
	font-color:;
	text-decoration: blink;
	font-size: 32px;
	margin: 10px 40px;
}

.header h5 {
	font-style: oblique;
}

.header p {
	padding-left: 100px;
}

div.list {
	width: 560px;
	display: block;
	font-size: 12px;
	padding-left: 30px;
	text-align: center;
}

.table-list thead {
	background-color: #205960;
}

.table-list tbody {
	background-color: #5fb4b7;
}

div.list tbody tr:HOVER {
	background-color: #25636b;
	font-weight: bold;
	color: black;
	cursor: pointer;
}

table.table-list {
	border-top: 5px #25636b ridge;
	border-collapse: collapse;
	text-align: left;
}

.table-list td, th {
	padding: 0.8em;
	border-bottom: 1px solid white;
}

.table-list td:FIRST-CHILD, th:FIRST-CHILD {
	padding-right: 3.6em;
	width: 160px;
}

.table-list td:LAST-CHILD {
	width: 460px;
}

.table-list tbody tr:LAST-CHILD {
	border-bottom: 5px #25636b;
	border-bottom-style: ridge;
}

#content {
	min-width: 400px;
	min-height: 400px;
}

/* login part */
#login-box {
	padding: 45px;
	width: 300px;
	margin: 0 auto 1000px;
	margin-top: 100px;
	text-align: center;
	display: block;
	background: #666699;
	border-radius: 5px;
	box-shadow: 0px 0px 10px rgba(200, 251, 251, 0.4);
}

#login-box input {
	outline: 0;
	width: 100%;
	border: 0;
	margin: 0 0 15px;
	padding: 15px;
}

#login-box input[type='submit'] {
	background-color: #383276;
	color: #FFFFFF;
	text-transform: uppercase;
	border: 0;
	cursor: pointer;
	width: 100%;
	box-shadow: 0px 0px 10px rgba(51, 51, 51, 0.4);
}

#login-box input[type='submit']:HOVER {
	background-color: #dcdced;
}
/* login part ends */

p {
	border: 0px solid red;
}

footer {
	color: gray;
	font-size: 12px;
	border-top-style: groove;
	border-top-width: 2px;
	border-color: grey;
}

footer p {
	border: none;
}

.error {
	color: red;
	font-weight: bold;
	font-size: x-small;
}

.register {
	width: 500px;
	border: 1px solid #ddd;
	background-color: #dcdced;
	border-radius: 4px;
	margin: 50px;
	padding: 10px;
	text-align: center;
}

.register h2 {
	margin: 0 auto;
	font-variant: small-caps;
}

.register table {
	display: inline-block;
	vertical-align: middle;
	margin: 10px;
}

.register td {
	border: none;
	padding: 10px;
}

.errors {
	color: red;
	font-weight: 100;
	padding: 10px;
}