[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Łukasz Kosmala (lucaskos)
[access "refs/for/refs/*"]
	read = group user/Łukasz Kosmala (lucaskos)
	push = group user/Łukasz Kosmala (lucaskos)
	label-Code-Review = -2..+2 group user/Łukasz Kosmala (lucaskos)
	label-Verified = -1..+1 group user/Łukasz Kosmala (lucaskos)
	rebase = group user/Łukasz Kosmala (lucaskos)
	removeReviewer = group user/Łukasz Kosmala (lucaskos)
	submit = group user/Łukasz Kosmala (lucaskos)
[access "refs/heads/*"]
	read = group user/Łukasz Kosmala (lucaskos)
	create = group user/Łukasz Kosmala (lucaskos)
	push = +force group user/Łukasz Kosmala (lucaskos)
	pushMerge = group user/Łukasz Kosmala (lucaskos)
[access "refs/tags/*"]
	push = group user/Łukasz Kosmala (lucaskos)
	push = +force group user/Łukasz Kosmala (lucaskos)
