.film {
	display: block;
	width: 100%;
	vertical-align: baseline;
}

div.film * {
	text-align: center;
}

.main-film-wrapper {
	width: 70%;
}
#filmdetail {
	display: block;
	bottom: 1px solid white;
	margin: auto;
}

#filmdetail p {
	display: block;
}

#filmdetail .filmid {
	display: none;
}

#filmdetail p:FIRST-CHILD {
	font-size: 32px;
}

.rating {
	display: block;
	float: right;
	border: 1px solid white;
	padding: 0 5px;
	color: #AA9739;
}

div #actorlist {
	margin: auto;
}

#actorlist {
	padding-top: 20px;
}

#actorlist h3 {
	display: inline-block;
	width: 100px;
	text-transform: uppercase;
	font-variant: small-caps;
	border-bottom: 1px ridge silver;
}

#actorlist table {
	margin: auto;
	padding-bottom: 10px;
	border-bottom: 1px solid white;
}

#actorlist table:LAST-OF-TYPE {
	margin-bottom: 20px;
	border: none;
}

.autocomplete-suggestions { border: 1px solid #999; background: #FFF; overflow: auto; }
.autocomplete-suggestion { padding: 2px 5px; white-space: nowrap; overflow: hidden; }
.autocomplete-selected { background: #F0F0F0; }
.autocomplete-suggestions strong { font-weight: normal; color: #3399FF; }
.autocomplete-group { padding: 2px 5px; }
.autocomplete-group strong { display: block; border-bottom: 1px solid #000; }